* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #fcfcfc;
  font-family: arial;
}

.container {
  width: 400px;
  background: #f5f5f5;
  border: 1px solid #e4dfdf;
  border-radius: 10px;
  margin: 100px auto 0;
  overflow: hidden;
}

.container form {
  padding: 20px;
}

.title {
  margin: 0;
  padding: 20px;
  background: #dbdbe4;
  color: #3e3030;
  text-align: center;
}

.fields {
  margin-bottom: 15px;
}

.fields label {
  display: block;
  margin-bottom: 8px;
  font-size: 12px;
  color: #696161;
}

.fields input {
  width: 100%;
  height: 40px;
  border: none;
  padding: 0 10px;
  background: #fff;
}

.btn {
  display: inline-block;
  width: 75%;
  background: #6f6767;
  border: none;
  border-radius: 4px;
  line-height: 40px;
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
}

.logo {
  width: 100px;
}

header {
  background: #f9dfdf;
  padding: 10px 0;
}

.content-div {
  width: 1200px;
  margin: auto;
}

header .content-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a.h-links {
  text-decoration: none;
  color: #807979;
  font-size: 20px;
  margin-left: 20px;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

#user-profile-container {
  display: none;
}

.or-link {
  display: inline-block;
  font-size: 13px;
  width: 23%;
  text-align: right;
  color: #6f6767;
}

#user-profile-container a {
  text-decoration: none;
  font-size: 20px;
  color: #6b6161;
}

#user-profile-container button {
  font-size: 20px;
  color: #6b6161;
  border: none;
  background: none;
}

#product-blocks {
  display: flex;
  flex-wrap: wrap;
}

.prod-block {
  background: #e2c5c5;
  height: 300px;
  border-radius: 10px;
  position: relative;
  margin: 10px;
  width: calc(100% / 5 - 20px);
  padding: 20px;
}

.remove-product {
  position: absolute;
  right: -12px;
  top: -12px;
  background: #dcd0d0a8;
  border: 1px solid #c1c1c1;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: #ad6363;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prod-block h1 {
  margin: 0 0 20px;
  display: inline-block;
}

.prod-block label {
  font-size: 12px;
}

#addproduct {
  background: #fbdddd;
  border: 2px solid #ded7d7;
  border-radius: 3px;
  padding: 10px;
  color: #714343;
  font-size: 14px;
}

#reset-btn {
  width: 100%;
}
